:root{
    --Yellow:  hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}
/* Variable Regular Font */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* for variable weight support */
  font-style: normal;
}

/* Variable Italic Font */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Static Extra Bold Font */
@font-face {
  font-family: 'Figtree ExtraBold';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Static Medium Font */
@font-face {
  font-family: 'Figtree Medium';
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: inline-block;
    width: 100%;
    height: auto;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
body{
    font-family:'Figtree', sans-serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
}
.blog-container{
    border: 1px solid var(--Gray950);
    border-radius: 20px;
    background-color: var(--White);
    max-width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 10px 10px 0px var(--Gray950);
}
.svg{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}
.Learning{
    background-color: var(--Yellow);
    height: 30px;
    width: 80px;
    padding-top: 5px;
    padding-inline: 5px;
    color: var(--Gray950);
    border-radius: 5px;
    margin: 12px 0px 12px 0px;
    text-align: center;
    font-family:'Figtree ExtraBold';

}

.public{
    font-family:'Figtree Medium';
    font-size: 12px;
    margin-bottom: 15px;

}
.text-head{
    font-family:'Figtree ExtraBold';
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.dim-text{
    color: var(--Gray500);
    font-family:'Figtree Medium';
    margin-bottom: 20px;

}
.blog-profile{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
.blog-profile img{
    width: 30px;
}
.avatar-name p{
    font-family:'Figtree ExtraBold';
}